---
import Layout from '../layouts/Layout.astro';
// import NetworkBackground  from '../components/react/NetworkBackground';
// import ShinyText from '../components/react/UI/Text/ShinyText.js';
import TriangularBackground from '../components/react/UI/Animation/TriangularBackground';
import AnimatedNeworkBackground from '../components/react/UI/Animation/AnimetedNetworkBackground';
import {HeroSectionOne} from '../components/react/sections/HeroSection';
import NetworkBackground from '../components/react/UI/Animation/NetworkBackground';
import LightCommunicationBackground from '../components/react/UI/Animation/LightCommunicationBackground';
// import {BackgroundLines} from "../components/uiAceternity/UI/Background/BackgroundLine.js";\
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import Services from '../components/react/sections/Services';

---

<Layout title="ITE4africa" client:load>
	<LightCommunicationBackground  className='w-screen ' client:load>
    <Services  client:load/>
	</LightCommunicationBackground>
  <section class="h-screen "></section>
</Layout>