---
import "../styles/global.css";
import Header from "../components/react/UI/Header";
import Footer from '../components/react/UI/Footer';
import AnimatedNetworkBackground from "../components/react/UI/Animation/AnimetedNetworkBackground";
import "@radix-ui/themes/styles.css";
import {Theme} from "@radix-ui/themes";


export interface Props {
  title?: string;
  description?: string;
}

const  {
  title = "",
  description = "IT Experts 4 Africa Solutions technologiques avancées",
} = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <title title="ITEXPERE4AFICA">ITEXPERE4AFICA |{ title}</title>

    <link
      rel="icon"
      type="image/png"
      href="/favicon/faviconLight/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/faviconLight/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/faviconLight/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/faviconLight/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Ite4a" />
    <link rel="manifest" href="/favicon/faviconLight/site.webmanifest" />
  </head>
  
  
  <body class="bg-gradient-to-b from-it4a-secondary via-neutral-800 to-it4a-primary/80 box-border font-Poppins">
      <AnimatedNetworkBackground client:only/>
      <Header 
      		client:load
      className="fixed"
      logo="/WhiteLogo.png"
      navItems={
        [
        {
          label: "Accueil", href: "/"
        },
        {
          label: "Services", href: "#",
          subItems: [
            {
            label: "Web", href: "web"
            },
            {
            label: "CyberSecurity", href:"CyberSecurity"
            },
            {
            label: "Reseau", href:"Reseau"
            },
            {
            label: "Cloud", href:"Cloud"
            },
          ]
        },
        {
          label: "À propos", href: "/about"
        },
        {
          label:"Contact", href:"contact"
        }
        ]
      }
      ctaButton={{ label: "Contactez-nous", onClick: () => window.location.href = "/contact/" }} />
      <main class="snap-mandatory flex items-center flex-col justify-center">
        <slot />
      </main>
      <Footer bgGradient="bg-transparent backdrop-blur-xs" client:load/>
  </body>
</html>